*{
   margin: 0;
   padding: 0;
  box-sizing: box sizing;
}

/*man berilgan qiymatdan oshib ketmaydilekin kamayishi yani moslanishi mumkin*/

.max{
   max-width: 800px;
    height: 50px;
    background: #blue;
}

/*min berilgan qiymatdan kamayib ketmaydi lekin oshib ketmaydi*/
.min{
   min-width: 800px;
}